body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background-color: #1071b9;
  color: white;
  font-family: monospace;
  font-size: 1.05rem;
}

main {
  margin: auto;
  text-align: center;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

p, ul {
  padding: 1em 0;
}

p {
  font-size: 2.5em;
}

li {
  display: inline;
  padding: 0 1em;
  font-size: 2.5em;
}

.logo {
  width: 475px;
  max-width: 100%
}

.circle-logo {
  background-image: url(images/logo-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
